/* Styling the navigation bar */
nav {
    width: 100%; /* Ensure the navigation bar takes up the full width */
    background-color: #333; /* Background color */
    padding-top: 1rem; /* Padding */
    padding-right: 1rem;
    margin-bottom: 3rem;
}

nav span {
    display: inline-block; /* Make the span element inline-block */
    color: #fff; /* Text color */
    font-size: 28px; /* Font size */
}

nav a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline */
    margin-left: 20px; /* Add space between links */
}

nav a:hover {
    text-decoration: none; /* Add underline on hover */
    color: white;
    
}

nav p {
    margin: 0; /* Remove margin */
}

h4{
    font-weight: bold;
}


a .percent{
    margin-left: 20rem;
}

.description{
    margin: 5rem;
}