body{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
h2{
    text-align: justify;
}




.container-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: min-content;
    gap: 10px;
    justify-content: left; 
    align-items: left;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: min-content;
    gap: 10px;
    justify-content: center; 
    align-items: left;
}

.text-left {
    text-align: left;
}

.mt-4 {
    margin-top: 1.5rem; /* Adjust as needed */
}

.header {
    font-weight: bold;
}


.grid-item {
padding: 5px;

word-wrap: break-word;
text-align: left;/
}

.header {
font-weight: bold;
}
.course_description{
word-wrap: break-word;
padding-left: 6rem;
}
.course_description1{
word-wrap: break-word;
padding-left: 19.7rem;
}
.add_databtn{
margin-left: 15px;
}
.text-area{
    border: 1px solid black;
    margin: 5px;
}

.table-button{
    padding-left: 2rem;
    position: relative;
}

.text-box{
    border: 1px solid black;
    width: 30rem;
}

.header{
    text-align: left;
}

.total{
    width: 5rem;
}




    .grid-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 10px;
    }
    
