body{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
h2{
    text-align: center;
}
p {
margin-right: 1rem;
text-align: right;
margin-bottom: 1rem; /* Add space between paragraphs */
}




.container {
display: grid;
grid-template-columns: repeat(3, auto); /* Two columns */
grid-auto-rows: min-content; /* Automatically adjust row height based on content */
gap: 10px; /* Gap between grid items */
justify-content: center; /* Center content horizontally */
align-items: center; /* Center content vertically */
}

.grid-item {
padding: 5px;

word-wrap: break-word; /* Allow text to wrap */
text-align: left; /* Center text horizontally */
}

.header {
font-weight: bold; /* Bold font for headers */
}
.course_description{
/* margin-left: 20.5rem; */
word-wrap: break-word;
padding-left: 6rem;
}
.course_description1{
/* margin-left: 20.5rem; */
word-wrap: break-word;
padding-left: 19.7rem;
}
.add_databtn{
margin-left: 15px;
}
.text-area{
    border: 1px solid black;
    margin: 5px;
}

.table-button{
    padding-left: 2rem;
    position: relative;
}

.text-box{
    border: 1px solid black;
    width: 30rem;
}

.header{
    text-align: center;
}

.total{
    width: 5rem;
}